* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// TODO

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(26, 29, 35, 1);
  color: rgba(248, 248, 248, 1);
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: rgba(248, 248, 248, 1);
}
